* {
	/* font-family: 'Montserrat', sans-serif; */
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

/* defaults for if no preference detected */

:root {
	--forecolor: rgb(235, 235, 235);
	--backcolor: rgb(35, 35, 35);
}

body {
	background-color: var(--backcolor);
	color: var(--forecolor);
}

#navbar-img {
	filter: grayscale(1) invert(100%);
}

@media (prefers-color-scheme: light) {
	:root {
		--backcolor: rgb(235, 235, 235);
		--forecolor: rgb(35, 35, 35);
	}

	body {
		background-color: var(--backcolor);
		color: var(--forecolor);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--forecolor: rgb(235, 235, 235);
		--backcolor: rgb(35, 35, 35);
	}

	body {
		background-color: var(--backcolor);
		color: var(--forecolor);
	}
}

.lighter {
	font-weight: 100;
}

.smaller {
	font-size: 12px;
	padding: 0px;
}

/* 
#full-screen {
	width: 100%;
	height: 100%;
} */

#center-on-screen {
	/* text-align: center;
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%); */

	text-align: center;
	line-height: 100vh;
	width: 100%;
	height: 100%;
}

.landing-name {
	font-size: 40px;
}

.fade-in {
	transition: opacity 1s ease;
}

.fade-out {
	opacity: 0;
	transition: opacity 0.5s ease;
}

#home-container {
	margin-left: 2vw;
	margin-right: 2vw;
}


#navbar-container {
	margin: 0px;
	position: fixed;
	top: 0;
	width: 95vw;
	overflow: hidden;
	z-index: 5;
}

#navbar {
	border-bottom: solid 1px var(--forecolor);
	padding-left: 0px;
	padding-right: 0px;
	background: var(--backcolor);
	height: 6vh !important;
}

#container {
	width: 100%;
}

#nav-left {
	float: left;
	width: 100px;
}

#nav-right {
	float: right;
	width: 80vw;
	line-height: 6vh;
	text-align: right;
}

#nav-center {
	margin: 0 auto;
	width: 100px;
}

.nav-link {
	margin-right: 2vw;
}

@media (prefers-color-scheme: dark) {
	#navbar-img {
		padding: 0px;
		width: 3vw;
		filter: grayscale(1) invert(100%);
	}
}

#navbar-img {
	padding: 0px;
	width: 3vw;
	margin-left: 1vw;

	svg {
		position: relative;
		padding: 0px !important;
		stroke: none;
	}

	&:hover {
		width: 3.2vw;
		transition: width .1s;
		-webkit-transition: width .1s;
		/* Safari */
	}
}

#social-container {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 40vh;
	width: 10vw;
	text-align: center;
}

#social-container ol {
	list-style-type: none;
	padding: 0 0;
	margin: auto 0;
}

#social-container svg {
	max-height: 5vh;
}

#social-container li {
	margin-bottom: 2vh;
}

.social-link {
	&--linkedin {
		color: #2d76b0;
	}
	&--github {
		color: var(--forecolor);
	}
	&--instagram {
		color: #9a2970;
	}
	&--dribbble {
		color: #b53561;
	}
	& .social-svg {
		width: 4.8rem;
		height: 4.8rem;
		& .social-group {
			&__icon {
				fill: var(--forecolor);
				transition: all .2s;
			}
			&__inner-circle {
				fill: transparent;
				transition: all .2s;
			}
			&__outline {
				stroke: var(--forecolor);
				transform-origin: 50% 50%;
				transition: all .2s;
			}
		}
		&:hover,
		&:active,
		&:focus {
			& .social-group {
				&__icon {
					fill: var(--backcolor);
					transition: all .45s;
				}
				&__inner-circle {
					fill: currentColor;
					transition: all .45s;
					&--instagram {
						fill: url(#simpleInsta) !important;
					}
				}
				&__outline {
					stroke: currentColor;
					transform: scale(1.1);
					transition: all .45s;
				}
			}
		}
	}
}

.internal-link {
	cursor: pointer;
	position: relative;
}

#home-content {
	width: 100%;
	margin-top: 9vh;
	overflow: hidden;
}

.welcome {
	font-size: 60px;
	margin-bottom: 0px;
}

.home-section {
	height: 90vh;
	margin: auto 10%;
}

.internal-link::before {
	transform: scaleX(0);
	transform-origin: bottom right;
}

.internal-link:hover::before {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.internal-link::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	inset: 0 0 0 0;
	background: none;
	border-bottom: 2px solid rgb(187, 114, 114);
	z-index: 1;
	transition: transform .3s ease;
}